@model IEnumerable<Fish_Registration.Models.Project>

@{
    ViewData["Title"] = "RateVessel";
}

<h2>My Projects</h2>

<div class="public-user-id-wrapper">
    <p>
        <a class="btn btn-primary" asp-controller="Projects" asp-action="Create">Create new</a>
        <a class="btn" style="background-color: #04AFE8; color: #fff" asp-controller="Projects" asp-action="VesselsIndex">See Other Ratings</a>
    </p>
    <hr />
    @foreach (var item in Model)
    {

        <h3><a asp-action="Details" asp-route-id="@item.ProjectId">@Html.DisplayFor(modelItem => item.Name)</a></h3>
        <div class="captain-details"><a style="text-decoration: none;" asp-controller="Projects" asp-action="VesselRatings">Vessel:@Html.DisplayFor(modelItem => item.GetCaptainVessel.Vessel.Name)</a></div>
        <div class="project-details-container">
            <div class="project-start-container">
                <div>
                    Departure Date
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Start)
                </div>
            </div>
            <div class="project-details-divider">to</div>
            <div class="project-end-container">
                <div>
                    Return Date
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.End)
                </div>
            </div>
        </div>

        <hr />
    }
</div>
