@model IEnumerable<Fish_Registration.Models.Project>

@{
    ViewData["Title"] = "RateVessel";
}

<section class="rate_vessel_top">
  <h1>Rate Vessel</h1>
  <h2>Sea Dragon</h2>
  <h3>Current Captain: Som Nang</h3>
</section>
<div class="div_profile_image">
  <img src="~/images/fishing-boat.jpg" width="250px" height="150px" />
</div>


<div class="list_container">
  <ul class="rate_vessel_options">
      <li><p>Select a rating for each category.</p></li>
      <li>PAYROLL INTEGRITY</li>
      <li>
          <div class="stars stars-example-fontawesome">
                  <select id="example-fontawesome" name="rating" autocomplete="off">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
          </div>
      </li>
      
      <li>WORK ENVIRONMENT</li>
      <li>
          <div class="stars stars-example-fontawesome">
                  <select id="example-fontawesome2" name="rating" autocomplete="off">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
          </div>
      </li>
      <li></li>
  </ul>
</div>


<div class="button_container">
  <textarea class="form-control input-lg" placeholder="Comments"></textarea>
  <a asp-area="" asp-controller="Projects" asp-action="Index" class="btn projects_button">Submit</a>
</div>