<div>

     class="public-user-id-wrapper">
    <p>
        <a class="btn btn-primary" asp-controller="Projects" asp-action="Create">Create new</a>
    </p>
    <hr />
  

        <h3><a asp-controller="projects" asp-action="VesselRatings" >Sea Dragon</a></h3>
        <div class="captain-details"><a style="text-decoration: none;" asp-controller="Projects" asp-action="VesselRatings">Current Captain: Som nang</a></div>
       
        <h3><a asp-action="Details">Sea Dragon</a></h3>
        <div class="captain-details"><a style="text-decoration: none;" asp-controller="Projects" asp-action="VesselRatings">Current Captain: Som nang</a></div>

        <h3><a asp-action="Details">Sea Dragon</a></h3>
         <div class="captain-details"><a style="text-decoration: none;" asp-controller="Projects" asp-action="VesselRatings">Current Captain: Som nang</a></div>

       
   
</div>