@model IEnumerable<Fish_Registration.Models.Project>

@{
    ViewData["Title"] = "VesselRatings";
}
<h1>Vessel Ratings</h1>
<h1>Arctic Ram</h1>
<h2>Current Captain: Elvis Felson</h2>
<h2>Previous Captain: John Galt</h2>
<ul>
  <li>Flag History: </li>
  <li><img src="http://via.placeholder.com/100x100" /></li>
  <li><img src="http://via.placeholder.com/100x100" /></li>
</ul>

<ul>
    <li>PAYROLL INTEGRITY</li>
    <li>(3 workers)</li>
    <li>
        <div class="stars stars-example-fontawesome">
                <select id="example-fontawesome" name="rating" autocomplete="off">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4" selected="4">4</option>
                  <option value="5">5</option>
                </select>
        </div>
    </li>
    
    <li>WORK ENVIRONMENT</li>
    <li>(7 workers)</li>
    <li>
        <div class="stars stars-example-fontawesome">
                <select id="example-fontawesome2" name="rating" autocomplete="off">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3" selected="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
        </div>
    </li>
</ul>

<p>Comments:</p>
<ul>
  <li>Lorem ipsum dolor amet shoreditch cardigan forage microdosing, typewriter readymade before they sold out beard single-origin coffee. Kombucha typewriter bicycle rights roof party leggings ugh polaroid XOXO gentrify cronut chillwave swag farm-to-table tousled.</li>
  <li>DIY skateboard etsy deep v ennui semiotics, aesthetic dreamcatcher tumblr cliche palo santo listicle.</li>
  <li>Master cleanse paleo taxidermy PBR literally celiac asymmetrical ennui wayfarers synth hoodie 90's scenester tbh tilde. Before they sold out tousled echo park, ugh crucifix brooklyn brunch.</li>
</ul>