@{
    ViewData["Title"] = "About";
}
<div class="jumbotron">
    <div class="container">
    <h1>Offshore</h1>
    <p>Now theres a way to protect the value of workers through a documented identification and a work history that helps hold integrity, even off the shore.</p>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-md-4">
        <h2>ID</h2>
        <p>Workers deserve to have a name and value, even when no one is looking. Now workers can create an ID that can be shared with anyone they want including family, employers and even lawyers in cases of abuse.</p>
    </div>
    <div class="col-md-4">
        <h2>Project History</h2>
        <p>With a project history page that shows data of past vessels worked on, workers have a way to prove and keep record of who they have worked for, and the amount of time worked/ employed. </p>
    </div>
    <div class="col-md-4">
        <h2>Online</h2>
        <p>With a way to save their ID online, the undocumented workers in fisheries and out at sea can take charge of their work environment with an ID that is held in the safety and care of their own account verses their employer or captain.</p>
    </div>
</div>
