
@{
    ViewData["Title"] = "Richard Nelson";
}

<div class="public-user-id-wrapper">
    <p>Note: Listed (below) is an official document of Richard’s past and current work projects. For the safety of the worker and the privacy of his information, please keep all data listed, confidential (unless otherwise instructed by the worker).</p>

    <h3>Pacific Horizon</h3>
    <div class="captain-details">Captain: Ben Cole</div>
    <div class="project-details-container">
        <div class="project-start-container">
            <div>
                Departure Date
            </div>
            <div>
                9/20/2018
            </div>
        </div>
        <div class="project-details-divider">to</div>
        <div class="project-end-container">
            <div>
                Return Date
            </div>
            <div>
                9/23/2018
            </div>
        </div>
    </div>

    <hr />

    <h3>Pacific Horizon</h3>
    <div class="captain-details">Captain: Ben Cole</div>
    <div class="project-details-container">
        <div class="project-start-container">
            <div>
                Departure Date
            </div>
            <div>
                9/20/2018
            </div>
        </div>
        <div class="project-details-divider">to</div>
        <div class="project-end-container">
            <div>
                Return Date
            </div>
            <div>
                9/23/2018
            </div>
        </div>
    </div>

    <hr />

    <h3>Pacific Horizon</h3>
    <div class="captain-details">Captain: Ben Cole</div>
    <div class="project-details-container">
        <div class="project-start-container">
            <div>
                Departure Date
            </div>
            <div>
                9/20/2018
            </div>
        </div>
        <div class="project-details-divider">to</div>
        <div class="project-end-container">
            <div>
                Return Date
            </div>
            <div>
                9/23/2018
            </div>
        </div>
    </div>
</div>

