#idCard.modal .modal-dialog {
  width: 355px; }
  #idCard.modal .modal-dialog .modal-content .modal-header {
    border-bottom: none;
    background-color: #2C52A3;
    color: #fff; }
    #idCard.modal .modal-dialog .modal-content .modal-header button.close {
      color: #fff; }
    #idCard.modal .modal-dialog .modal-content .modal-header .modal-title {
      font-size: 25px; }
  #idCard.modal .modal-dialog .modal-content .modal-body {
    height: 520px;
    vertical-align: top;
    background-color: #1E1D2F;
    color: #fff; }
    #idCard.modal .modal-dialog .modal-content .modal-body .background-watermark {
      position: fixed;
      bottom: 20px;
      left: 20px;
      width: 170px;
      height: 190px;
      background: url(/images/offshore-logo.png);
      background-repeat: no-repeat;
      opacity: 0.2; }
    #idCard.modal .modal-dialog .modal-content .modal-body .id-card-photo-container {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch; }
      #idCard.modal .modal-dialog .modal-content .modal-body .id-card-photo-container .id-card-aside {
        margin-left: 10%; }
      #idCard.modal .modal-dialog .modal-content .modal-body .id-card-photo-container dl {
        font-size: 20px; }
        #idCard.modal .modal-dialog .modal-content .modal-body .id-card-photo-container dl dd {
          margin: 0 0 15px 0; }
    #idCard.modal .modal-dialog .modal-content .modal-body .bottom-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin: 40px 0; }

.public-user-id-wrapper {
  margin: 2% 0 0 0; }
  .public-user-id-wrapper p {
    color: #666;
    text-align: center; }
  .public-user-id-wrapper h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: #2C52A3; }
  .public-user-id-wrapper .captain-details {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 20px; }
  .public-user-id-wrapper .project-details-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 20px; }
    .public-user-id-wrapper .project-details-container .project-details-divider {
      margin: 0 50px; }

body {
  font-family: 'Barlow Condensed', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
  /* Wrapping element */
  /* Set some basic padding to keep content from hitting the edges */
  /* QR code generator */ }
  body .navbar {
    background-color: #1E1D2F; }
    body .navbar .container {
      font-size: 18px; }
      body .navbar .container .navbar-header .navbar-brand .logo {
        display: inline-block;
        height: 50px;
        width: 50px;
        position: relative;
        margin-top: -27px;
        top: 10px; }
  body .body-content {
    padding-left: 15px;
    padding-right: 15px; }
    body .body-content #div_profile_image {
      text-align: center;
      margin-top: 20px; }
    body .body-content #profile_name {
      text-align: center;
      font-size: 42px; }
    body .body-content #list_container {
      text-align: center;
      margin: 20px 0; }
    body .body-content #profile_list {
      width: 24em;
      margin: auto;
      text-align: left; }
    body .body-content #profile_list li {
      list-style-type: none;
      font-size: 24px; }
    body .body-content #profile_buttons {
      text-align: center; }
      body .body-content #profile_buttons .btn {
        display: block;
        margin: 10px auto;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        width: 10em;
        border-radius: 5px; }
      body .body-content #profile_buttons #projects_button {
        background-color: #04AFE8; }
      body .body-content #profile_buttons #id_button {
        background-color: #2C52A3; }
      body .body-content #profile_buttons #edit_button {
        background-color: #727272; }
  body #qrCode {
    margin: 15px; }
