#idCard.modal .modal-dialog .modal-content .modal-body {
  vertical-align: top;
  background-color: #1E1D2F;
  color: #fff; }
  #idCard.modal .modal-dialog .modal-content .modal-body .background-watermark {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 170px;
    height: 190px;
    background: url(/images/offshore-logo.png);
    background-repeat: no-repeat;
    opacity: 0.5; }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  /* Wrapping element */
  /* Set some basic padding to keep content from hitting the edges */
  /* QR code generator */ }
  body .body-content {
    padding-left: 15px;
    padding-right: 15px; }
  body #qrCode {
    margin: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }
