body {
  padding-top: 50px;
  padding-bottom: 20px;
  /* Wrapping element */
  /* Set some basic padding to keep content from hitting the edges */
  /* QR code generator */ }
  body .body-content {
    padding-left: 15px;
    padding-right: 15px; }
  body #qrCode {
    margin: 15px; }

#div_profile_image {
  text-align: center;
  margin-top: 20px; }

#profile_image {
  border-radius: 100%; }

#profile_name {
  text-align: center; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }
